@import "tailwindcss";


:root {
  --background: #FAFAF8;
  /* --foreground: #0C343D; */
  --foreground: #0C343D;
}

@theme {

  --color-primary: #0C343D;
  --color-primary-foreground: #ffffff;

  --color-secondary: #F9BF4B;
  --color-secondary-foreground: #0C343D;

  --color-brand-900: #0C343D;
  --color-brand-700: #14505C;
  --color-brand-500: #1E6B78;

  --color-accent-500: #F9BF4B;
  --color-accent-200: #FDE6B6;
  --color-accent-100: #FFF2D6;

  --color-ui-bg: #FAFAF8;
  --color-ui-surface: #FFFFFF;
  --color-ui-surface2: #F3F6F6;
  --color-ui-border: #E5ECEC;
  --color-ui-borderStrong: #C9D6D8;
  --color-ui-text: #0C343D;
  --color-ui-textMuted: #3E5E65;
  --color-ui-textSubtle: #6B8287;


  --color-ui-success:#1F7A4D;
  --color-ui-warning:#B7791F;
  --color-ui-danger:#C2413A;
  --color-ui-info:#2563EB;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}
